root = true

[*]
ij_any_align_multiline_chained_methods = true
ij_any_align_multiline_parameters = true
ij_any_align_multiline_parameters_in_calls = true
ij_any_align_multiline_extends_list = true
ij_java_align_multiline_array_initializer_expression = true
indent_style = space
indent_size = 2