#game-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    #headers{
        width: 100%;
        display: flex;
        flex-direction: row;
        
        #left-header {
            margin-right: auto;
            display: flex;
        }
    }
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
  }

.remaining-item-info {
    display: flex;
    justify-content: flex-end;
}