.card-holder {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .game-card {
        margin: auto;
    }

}
.card-modal {
    .modal-content {
        height: 32.4rem;
        width: 23rem;
        border-radius: 2rem;
        .modal-body {
            padding: 0;
            border-radius: 2rem;
            .btn {
                font-size: 0.8rem;
            }
            .reserve-action {
                position: absolute;
                bottom: -3em;
                right: -2rem;
                border-radius: 3rem;
                width: 4.5rem;
                height: 4.5rem;
                background-color: orange;
            }
        }
    }
}