#board-area-main {
    display: flex;
    flex-direction: row;
    #playable-area {
        width: 87.5%;

        #board-main {
            display: flex;
            flex-direction: row;
            #basic-board {
                display: flex;
                flex-direction: row;
                #normal-cards {
                    min-width: 85%;
                }
                #free-gems {
                    min-width: 15%;
                }
            }
        }
    }
    #leaderboard {
        display: flex;
        align-items: center;
        margin: 1rem;
    }
}
.purchase-action {
    position: absolute;
    bottom: -3em;
    left: -2rem;
    border-radius: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    size: 4rem;
    background-color: green;
}